.text-center {
    text-align: center;
}

.form-signin {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(200px, 0px);
}

.btn-block {
    display: block;
    width: 100%;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.Button2-Text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}